@charset "UTF-8";

@font-face {
    font-family: 'pokemon';
    src: url(../fontes/Pokemon\ Classic.ttf) format("truetype");
}

body {
    font-family: 'pokemon', sans-serif;
    background-image: url(../images/bg2.png);
    background-size: cover;
    background-repeat: no-repeat;
    transition: .5s ease-in-out;
    font-weight: 300;
}

main {
    min-height: 110vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokedex {
    position: relative;
    display: flex;
    gap: 30px;
    padding: 30px 0;
}

.aviso {
    top: 119px;
    left: -146px;
    color: black;
    position: absolute;
    z-index: 1;
    transition: all 0.5s ease-in-out 0s;
    opacity: 0;
}

.aviso img {
    width: 285px;
    height: 160px;
}

.aviso p {
    font-family: 'pokemon', sans-serif;
    font-size: 14px;
    position: absolute;
    top: 29px;
    left: 69px;
    color: red;
    font-weight: bold;
}

.playerAudio {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 137px;
    height: 50px;
    top: -63px;
    left: 493px;
    background-color: #5FB2EF;
    border-radius: 10px;
    border: 1px solid black;
}

.playerAudio::after {
    content: 'Background Player';
    color: black;
    font-size: 7px;
    position: absolute;
    top: 48px;
    left: 10px;
    border: 1px solid black;
    background-color: #FF6161;
    animation: animação 3s ease-in infinite;

}

@keyframes animação {
    0% {

        opacity: 0;
    }

    50% {

        opacity: 1;
    }

    70% {

        opacity: 1;
    }

    100% {

        opacity: 0;
    }
}


.icone {
    width: 20px;
    height: 20px;
    transform: scale(1.8);
    transition: all .2s ease-in-out;
}

.icone:hover {
    transform: scale(2);
}

.imagemLOGO {
    position: absolute;
    width: 400px;
    height: 174px;
    z-index: 1;
    top: -123px;
    left: -11px;
    transition: .5s ease-in-out;
}

.video-pikachu {
    width: 100%;
    position: relative;

}

.choque {
    display: none;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 155px;
    transform: scaleY(1.4);
}

.video-bulbasauro {
    width: 100%;
    position: relative;
}

.folha {
    display: none;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 155px;
    transform: scaleY(1.4);
}

.video-charmander {
    width: 100%;
    position: relative;
}

.fogo {
    display: none;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 155px;
    transform: scaleY(1.4);
}

.video-gyarados {
    width: 100%;
    position: relative;
}

.agua {
    display: none;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 155px;
    transform: scaleY(1.4);
}

.video-gengar {
    width: 100%;
    position: relative;
}

.fantasma {
    display: none;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 155px;
    transform: scaleY(1.4);
}

.video-dragonite {
    width: 100%;
    position: relative;
}

.dragao {
    display: none;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 155px;
    transform: scaleY(1.4);
}